@model IEnumerable<AppDev.Models.Book>

@{
    ViewData["Title"] = "Books";
}

<h1>Index</h1>

<div class="row row-cols-xl-6 row-cols-lg-5 row-cols-md-4 row-cols-sm-3 row-cols-2">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card h-100">
                <img src="@item.Image?.Href" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.Title</h5>
                    <p class="card-text">Price: <span class="fw-bold">@item.Price</span></p>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary px-1" onclick="addItem(@item.Id, 1)">Add</button>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    }
</div>
@section Scripts {
    <script src="~/js/cart.js" asp-append-version="true"></script>
}